@model int  
@{
    ViewBag.Title = "EmployeeNotFound";
}
<div class="alert alert-danger mt-1 mb-1" >
<h4>4040 Not Found Error: </h4>
    <hr />
    <h5>
        Employee with Id = @Model cannnot be found 
    </h5>
</div>
<a asp-action="inde" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    Click here too see the list of all employees
</a>


